body {
	background: #fff;
	color: #333;
	font-family: "helvetica";
}

h2 {
	text-align: center;
	font-family: "effra";
	font-size: 2em;
	color: #0b62cd;
}

p {
	text-align: center;
	color: #333;
}

#badusers a {
	text-decoration: none;
}

table#badusers {
	width: 40%;
	margin: 0 auto;
	border-spacing: 0 2px;
	border-collapse: separate;
}

#badusers th {
	color: #efefef;
	font-weight: normal;
	font-size: .95em;
	padding: 3px;
	font-family: "effra";
	font-weight: strong;
	background: rgba(011,98,205,0.95);
}

#badusers tr {
	height: 2em;
	border-bottom: 2px solid red;
}

#badusers tr:hover {
background: rgba(0,56,98,0.1);
}

#badusers td.id {
	text-align: center;
	font-weight: lighter;
}

#badusers td.score {
	text-align: center;
	font-weight: bold;
}

#badusers td.action {
	font-weight: lighter;
}

.scoregood a {
	color: #7a96b2;
}

.scorebad a {
	color: #dc2323;
}